@font-face {
	font-family: "Texta";
	src: url("./font/texta/Texta-Regular.otf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Texta";
	src: url("./font/texta/Texta-Book.otf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Texta";
	src: url("./font/texta/Texta-Medium.otf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Texta";
	src: url("./font/texta/Texta-Bold.otf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Texta";
	src: url("./font/texta/Texta-Heavy.otf");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Texta";
	src: url("./font/texta/Texta-Black.otf");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Texta Alt";
	src: url("./font/texta_alt/TextaAlt-Regular.otf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Texta Alt";
	src: url("./font/texta_alt/TextaAlt-Book.otf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Texta Alt";
	src: url("./font/texta_alt/TextaAlt-Medium.otf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Texta Alt";
	src: url("./font/texta_alt/TextaAlt-Bold.otf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Texta Alt";
	src: url("./font/texta_alt/TextaAlt-Heavy.otf");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Texta Alt";
	src: url("./font/texta_alt/TextaAlt-Black.otf");
	font-weight: 900;
	font-style: normal;
}

* {margin: 0; padding: 0;}


body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text {
    font-size: 1rem;
	font-family: "Texta";
	color: #171717;
}

.title {
    font-size: 3rem;
	font-family: "Texta";
	font-weight: 800;
	color: #171717;
	margin-bottom: 1rem;
}

.text > a {
	font-weight: 900;
	color: #9590D7;
	cursor: pointer;
}