#personalities-container {
    margin-top: 10rem;
    min-height: 100vh;
    width: 100vw;
    z-index: 10;
}

#personalities-container .person {
    width: 70%;
    min-width: 30rem;
    margin: 0 15rem;
    margin-bottom: 5rem;
    display: flex;
}

#personalities-container .person > div.information {
    width: 80%;
}

#personalities-container .person > div.img-container {
    width: 15rem;
    margin-left: 10rem;
    overflow: hidden;
    display: inline-block;
}

#personalities-container .person img {
    width: 100%;
}

#personalities-container .person .name {
    font-size: 1.6rem;
}

#personalities-container .person .first-letter {
    font-size: 2.2rem;
    font-weight: 700;
}