#slide-popup-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(51, 51, 51, .54);
    z-index: 100;
}

#slide-popup-container #slide-popup {
    background-color: white;
    width: 36vw;
    height: 100vh;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    overflow: auto;
}

#slide-popup-container #slide-popup-gray-area {
    width: 64vw;
    height: 100vh;
    position: absolute;
}

#slide-popup-container #slide-popup-cross-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

#slide-popup-container #slide-popup-cross-container img {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

#slide-popup-container #slide-popup-img-container {
    width: 100%;
    height: 35vh;
    overflow: hidden;
    margin-bottom: -4rem;
}

#slide-popup-container #slide-popup-img-container img {
    height: 100%;
    margin: 0 auto;
    display: block;
}

#slide-popup-container .title, #slide-popup-container .text {
    margin: 0 auto;
    width: 83%;
}

#slide-popup-container .title {
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    line-height: 3rem;
}

#slide-popup-container .text {
   margin-top: 0.5rem;
   margin-bottom: 1.4rem;
}
