#dot-menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#dot-menu {
    height: 80vh;
    width: 3px;
    margin-top: 4rem;
    list-style: none;
    background-color: #9590D7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}