#landing-container {
    width: 78vw;
    margin: 0 auto;
}

#landing-container .vertical-banner {
    width: 23rem;
    height: 100vh;
    background-color: #dadada;
    overflow: hidden;
}

#landing-container .content-container {
    position: absolute;
    top: 0;
    margin-top: 20vh;
    margin-left: 19rem;
}

#landing-container #title {
    font-family: "Texta";
    font-size: 4rem;
    font-weight: 700;
    width: 30rem;
    text-transform: uppercase;
    line-height: 4rem;
    color: #171717;
    text-shadow: 0 0 20px #FFFFFF;
}

#landing-container .content-container .text {
    margin-top: 4rem;
    margin-left: 6rem;
    width: 17rem;
}

#landing-container .link-container {
    position: absolute;
    right: 13rem;
    top: 63vh;
}

#landing-container .arrow-flat-down {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 7rem;
    cursor: pointer;
}