header {
    width: 93vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    margin-top: 1rem;
    left: 0;
    right: 0;
}