header {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    padding-top: 1rem;
    left: 0;
    right: 0;
    z-index: 10;
}

header #menu-icon-warp {
    margin-left: 3rem;
    z-index: 10;
}

header #language-select {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    z-index: 10;
}

header #language-select > .text {
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
}

header #language-select > .deco-line {
    height: 1px;
    width: 2.5rem;
    background-color: #171717;
    margin: 0 0.7rem;
}