.vertical-text-banner {
    position: absolute;
    transform: rotate(-90deg);
    right: -30rem;
    font-family: "Texta";
    font-size: 16rem;
    font-weight: 900;
    color: #E6E6E6;
    bottom: 8rem;
    white-space: nowrap;
    user-select: none;
}